# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug/build artifacts
*.ilk
*.idb
*.pdb
*.ipdb
*.iobj
*.tlog
*.lastbuildstate

# Build directories
build/
build*/
build_tmp/
cmake-build-*/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
build.ninja
Testing/

# IDE/project-local settings
.idea/
.vscode/
.vs/

# Local reference material and imported projects
external/
resources/
tools/

# Temporary diagnostics
tmp_*.txt
*.tmp
*.csv~
SNDLIB_instances/yuan_small.txt

# End of https://www.toptal.com/developers/gitignore/api/c++
